<div class="calc">
  <div class="calc-form" [formGroup]="calcForm">
    <div class="calc-form__price">
      <input type="number" class="input" placeholder="Стоимость недвижимости" formControlName="estatePrice" />
    </div>

    <div class="calc-form__initial-fee">
      <input type="number" class="input" placeholder="Первоначальный взнос" formControlName="initialFee" />
    </div>

    <div class="calc-form__term">
      <div class="calc-form__term-title">Срок кредитования</div>
      <div>{{ termOutput }} {{ getYearSign() }}</div>
      <input type="range" class="range" min="1" max="30" formControlName="term" />
    </div>

    <div class="calc-form__options">
      <div class="calc-form__checkbox">
        <input type="checkbox" id="salary" class="checkbox" formControlName="isSalaryCard" />
        <label for="salary">Есть зарплатная карта (-0.5%)</label>
      </div>

      <div class="calc-form__checkbox">
        <input type="checkbox" id="insurance" class="checkbox" formControlName="isInsurance" />
        <label for="insurance">Страхование жизни и здоровья (-1%)</label>
      </div>

      <div class="calc-form__checkbox">
        <input type="checkbox" id="onlineReg" class="checkbox" formControlName="isOnlineReg" />
        <label for="onlineReg">Электронная регистрация сделки (-0.3%)</label>
      </div>
    </div>
  </div>

  <div class="calc-results">
    <div class="calc-results__line">
      <div class="calc-results__item">
        <div class="calc-results__item-title">Ежемесячный платеж</div>
        <div class="calc-results__item-count">{{ monthlyPayment | fixNum }} ₽</div>
      </div>

      <div class="calc-results__item">
        <div class="calc-results__item-title">Процентная ставка</div>
        <div class="calc-results__item-count" greentext>{{ interestRate }} %</div>
      </div>
    </div>

    <div class="calc-results__line">
      <div class="calc-results__item">
        <div class="calc-results__item-title">Сумма кредита</div>
        <div class="calc-results__item-count">{{ creditSum }} ₽</div>
      </div>

      <div class="calc-results__item">
        <div class="calc-results__item-title">Налоговый вычет</div>
        <div class="calc-results__item-count">{{ taxDeduction | fixNum }} ₽</div>
      </div>
    </div>

    <div class="calc-results__line">
      <div class="calc-results__item">
        <div class="calc-results__item-title">Необходимый доход</div>
        <div class="calc-results__item-count">{{ necessaryIncome }} ₽</div>
      </div>
    </div>
  </div>
</div>